$tocentr:center;
$bcksize:cover;
$backrep:no-repeat;
$fontstule:  sans-serif;
$boldstyle:bold;
$fontfamilyFresca:'Fresca', sans-serif;
$backImg:url(../img/m-h-night.jpg);

$ColorLink:white;

$ColorButon:rgb(247, 184, 12);

$FontWeith:0;
$Opast: 1;

$fontColor:rgba(62, 60, 88, 0.795);
 
$ColorGrad:(90grad,rgb(255, 208, 0),rgb(196, 0, 0));
$TextColor: rgba(255, 255, 255,0.95);
$BodyBackround:rgb(33, 32, 37);