$tocentr:center;
$bcksize:cover;
$backrep:no-repeat;
$fontstule: sans-serif;
$boldstyle:bold;
$fontfamilyFresca: sans-serif;

$backImg:url(../img/m-h-day.jpg);

$ColorLink:white;

$ColorButon:rgb(93, 165, 0);

$FontWeith:0;
$Opast: 0.9;

$fontColor:rgba(0, 0, 0, 0.8);
 
$ColorGrad:(90grad,rgb(93, 165, 0),rgb(0, 121, 196));

$TextColor: rgba(0, 0, 0, 0.7);
$BodyBackround:rgba(255, 255, 255, 1);
$color:(
    'colorm':rgba(0, 0, 0, 0.8)
);